<!DOCTYPE html>
<html>
<body>
<header>

	<span>
	
	
	
	
	</span>

</header>


<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="#" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        
        <%= form.file_field :image, id: :profile_image,class:"text-center center-block well well-sm",type:"file"%>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Name :</label>
          <div class="col-lg-8">
            
            <%= form.text_field :name, id: :profile_name ,class:"form-control" ,type:"text"%></br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Address :</label>
          <div class="col-lg-8">
          <%= form.text_field :address, id: :profile_address, class:"form-control",type:"text" %></br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone :</label>
          <div class="col-lg-8">
          <%= form.text_field :phone, id: :profile_phone ,class:"form-control" ,type:"text"%></br>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">About you :</label>
          <div class="col-lg-8">
          <%= form.text_field :about, id: :profile_about, class:"form-control",type:"text"%></br>
          </div>
        </div>
        <div class="form-group">
        <label class="col-lg-3 control-label">Age :</label>
        <div class="col-lg-8">
        <%= form.text_field :age, id: :profile_age, class:"form-control",type:"text"%></br></br>
        </div>
      </div>
    
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
          <input type="submit" class="btn btn-first", value="Save Changes">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%end%>
</body>
</html>
